<div class="content">
<h3>报名处</h3>
<div class="form">
	<div class="l"><span>业主姓名：</span></div>
	<div class="r"><input type="text" /></div>
</div>
<div class="form">
	<div class="l"><span>联系电话：</span></div>
	<div class="r"><input type="tel" /></div>
</div>
<div class="form">
	<div class="l upl">
		<span>上传照片：</span><br />
		<span>(1-5)张</span>
	</div>
	<div class="r upr">
		<img src="images/01.jpg"/>
		<img src="images/01.jpg"/>
		<img src="images/01.jpg"/>
		<img src="images/upimg.jpg"/>
	</div>
</div>
<div class="form">
	<div class="l upl">
		<span>拉票宣言：</span>
	</div>
	<div class="r">
		<textarea name="" rows="" cols=""></textarea>
	</div>
</div>
<div class="tips">
	参选资料须审核通过才能发布，审核时间为9:00--18:00，其余的时
	间段提交的参选资料将延迟至第二天审核，请各位业主悉知
</div>
<div class="iWant"><span class="btn">确认报名</span></div>
</div>