<div class="page">
	<img src="images/prize.jpg" />
	<div class="prize">
		<p>一等奖：时代巨星奖（得票数第1名）</p>
		<p>奖品：Ipad mini4一台</p>
	</div>
	<div class="prize">
		<p>二等奖：人气冲天奖（得票数第2-3名）</p>
		<p>奖品：富士拍立得</p>
	</div>
	<div class="prize">
		<p>三等奖：人气爆棚奖（得票4-10名）</p>
		<p>奖品：充电宝	</p>
	</div>
	<div class="prize">
		<p>四等奖：人气旺盛奖（得票11-50名）	</p>
		<p>奖品：电热水壶</p>
	</div>
	<div class="prize">
		<p>五等奖：福气高涨奖（得票51-150名）</p>
		<p>奖品：项目定制雨伞</p>
	</div>
	<div class="prizeTips">
		<h3>以上奖项奖品皆需到盛天时代售楼部领取</h3>
		<p>活动时间：11月21日10:00至12月4日24:00</p>
		<p>活动详询：0771—3388888</p>
	</div>
	<div class="detail">
		<h3>活动规则</h3>
		<div>
			<span>1、</span>
			<p>
				报名须提交真实照片，虚假的照片和报名信息
			     视为无效；同一业主或家庭不可重复报名；每
			     个微信账号每天只能给1个参赛家庭投一票，
			     根据累计投票数，决出获奖者名次。第一名累
			     计票数至少达到200票，第二名累计票数至少
			     达到100票，其余名字无票数限制。
			</p>
		</div>
		<div>
			<span>2、</span>
			<p>
				仅限盛天时代业主家庭参加比赛。
			</p>
		</div>
		<div>
			<span>3、</span>
			<p>
				投票系统有防刷票检测功能，投票程序已按照
				     活动规则设定，定期检测排名靠前的业主家庭
				     的票数，检测到刷票、外省票占比过高、非正
				     常投票、浏览异常等票数，会自动剔除，请自
				     觉遵守哦，不然系统会剔除非正常的票数的，
				     期间由系统直接按照检测算法剔除，工作人员
				     不做干预。请参赛者遵守活动规则，投票系统
				     会在活动结束后进行全面的检测，剔除非正常
				     票数，公布的结果为有效票数的结果。对剔除
				     非正常票数有异议的，投票结束当天由技术人
				     员进行详细检测，并将检测结果进行公开。
				（参加活动即默认认同此规则）
			</p>
		</div>
		<div>
			<span>4、</span>
			<p>
				参加盛天时代“超人气家庭选拔大赛”的朋
			     友，不得盗用他人资料参赛，一经发现，取消
			     其参赛资格。如果有参赛资料侵犯了您及家人
			     的合法权益，请与我们工作人员联系。
			</p>
		</div>
		<div>
			<span>5、</span>
			<p>
				一旦发现刷票行为，直接取消所有奖项资格，
				 在法律范围内活动解释权归盛天时代所有。
			</p>
		</div>
	</div>
</div>