
/*这里是分割线~————————————————————————————————*/
.icontent {
  width: 13.125rem;
  margin: 1.5rem auto;
  background: #fffcdb;
  padding: 0.5rem;
  position: relative;
  border: 2px dashed #FFFFFF;
}
.icontent .title {
  position: absolute;
  width: 5.95rem;
  height: 3.15rem;
  background: url(../images/number_03.png) no-repeat;
  background-size: contain;
  color: #FFFFFF;
  left: 4.4rem;
  top: -1.2rem;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1rem;
  padding-top: 0.3rem;
}
.icontent .pageDetail {
  margin-top: 2rem;
  font-size: 0.6rem;
  text-align: center;
}
.icontent .pageDetail p {
  white-space: normal;
  width: 100%;
}
.icontent img {
  margin: 0.5rem 0;
}
